<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<div class="red">
 devid
</div>
<script src="~/js/bundle.js" asp-append-version="true"></script>
</body>
</html>